<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Servlets: chỉ định class, không nhất thiết phải mapping nếu dùng @WebServlet -->
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>controller.TestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookController</servlet-name>
        <servlet-class>controller.SearchBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookController</servlet-name>
        <servlet-class>controller.ViewBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestAvailableBookController</servlet-name>
        <servlet-class>controller.GuestAvailableBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestHomeController</servlet-name>
        <servlet-class>controller.GuestHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUpdateController</servlet-name>
        <servlet-class>controller.ProfileUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBookController</servlet-name>
        <servlet-class>controller.NewBookController</servlet-class>
    </servlet>
    <!-- Mapping chỉ cho các servlet không dùng annotation -->
    <servlet>
        <servlet-name>ViewBorrowBook</servlet-name>
        <servlet-class>controller.ViewBorrowBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/TestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookController</servlet-name>
        <url-pattern>/SearchBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookController</servlet-name>
        <url-pattern>/ViewBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestAvailableBookController</servlet-name>
        <url-pattern>/GuestAvailableBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestHomeController</servlet-name>
        <url-pattern>/GuestHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUpdateController</servlet-name>
        <url-pattern>/ProfileUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBookController</servlet-name>
        <url-pattern>/NewBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowController</servlet-name>
        <url-pattern>/BorrowController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BorrowController</servlet-name>
        <servlet-class>controller.BorrowController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewBorrowBook</servlet-name>
        <url-pattern>/ViewBorrowBook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>GuestHomeController</welcome-file>
    </welcome-file-list>
</web-app>
