USE [master]
GO
/****** Object:  Database [library_system]    Script Date: 7/14/2025 16:02:48 ******/
CREATE DATABASE [library_system]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'library_system', FILENAME = N'/var/opt/mssql/data/library_system.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'library_system_log', FILENAME = N'/var/opt/mssql/data/library_system_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [library_system].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [library_system]
GO
/****** Object:  Table [dbo].[book_requests]    Script Date: 7/14/2025 16:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[request_date] [date] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 7/14/2025 16:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[author] [nvarchar](255) NULL,
	[isbn] [varchar](20) NOT NULL,
	[category] [varchar](50) NULL,
	[published_year] [int] NULL,
	[total_copies] [int] NULL,
	[available_copies] [int] NULL,
	[status] [varchar](20) NULL,
	[cover_url] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[borrow_records]    Script Date: 7/14/2025 16:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[borrow_records](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[borrow_date] [date] NULL,
	[due_date] [date] NOT NULL,
	[return_date] [date] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fines]    Script Date: 7/14/2025 16:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fines](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[borrow_id] [int] NOT NULL,
	[fine_amount] [decimal](12, 2) NULL,
	[paid_status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_config]    Script Date: 7/14/2025 16:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_config](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[config_key] [varchar](50) NOT NULL,
	[config_value] [varchar](100) NOT NULL,
	[description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/14/2025 16:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](20) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[book_requests] ON 

INSERT [dbo].[book_requests] ([id], [user_id], [book_id], [request_date], [status]) VALUES (1, 3, 1, CAST(N'2025-05-01' AS Date), N'pending')
INSERT [dbo].[book_requests] ([id], [user_id], [book_id], [request_date], [status]) VALUES (2, 4, 2, CAST(N'2025-04-30' AS Date), N'approved')
INSERT [dbo].[book_requests] ([id], [user_id], [book_id], [request_date], [status]) VALUES (3, 5, 3, CAST(N'2025-04-28' AS Date), N'rejected')
SET IDENTITY_INSERT [dbo].[book_requests] OFF
GO
SET IDENTITY_INSERT [dbo].[books] ON 

INSERT [dbo].[books] ([id], [title], [author], [isbn], [category], [published_year], [total_copies], [available_copies], [status], [cover_url]) VALUES (1, N'Effective Java', N'Joshua Bloch', N'9780134685991', N'Programming', 2018, 5, 3, N'active', N'https://m.media-amazon.com/images/I/7167aaVxs3L._SL1500_.jpg')
INSERT [dbo].[books] ([id], [title], [author], [isbn], [category], [published_year], [total_copies], [available_copies], [status], [cover_url]) VALUES (2, N'Clean Code', N'Robert C. Martin', N'9780132350884', N'Software Engineering', 2008, 4, 4, N'active', N'https://m.media-amazon.com/images/I/51E2055ZGUL._SL1000_.jpg')
INSERT [dbo].[books] ([id], [title], [author], [isbn], [category], [published_year], [total_copies], [available_copies], [status], [cover_url]) VALUES (3, N'Java: The Complete Reference', N'Herbert Schildt', N'9781260440232', N'Programming', 2020, 6, 5, N'active', N'https://m.media-amazon.com/images/I/81UDSuaFAeL._SL1500_.jpg')
SET IDENTITY_INSERT [dbo].[books] OFF
GO
SET IDENTITY_INSERT [dbo].[borrow_records] ON 

INSERT [dbo].[borrow_records] ([id], [user_id], [book_id], [borrow_date], [due_date], [return_date], [status]) VALUES (1, 3, 1, CAST(N'2025-04-25' AS Date), CAST(N'2025-05-09' AS Date), NULL, N'overdue')
INSERT [dbo].[borrow_records] ([id], [user_id], [book_id], [borrow_date], [due_date], [return_date], [status]) VALUES (2, 4, 2, CAST(N'2025-04-20' AS Date), CAST(N'2025-05-04' AS Date), CAST(N'2025-05-03' AS Date), N'returned')
INSERT [dbo].[borrow_records] ([id], [user_id], [book_id], [borrow_date], [due_date], [return_date], [status]) VALUES (3, 5, 3, CAST(N'2025-04-10' AS Date), CAST(N'2025-04-24' AS Date), NULL, N'overdue')
SET IDENTITY_INSERT [dbo].[borrow_records] OFF
GO
SET IDENTITY_INSERT [dbo].[fines] ON 

INSERT [dbo].[fines] ([id], [borrow_id], [fine_amount], [paid_status]) VALUES (1, 3, CAST(33.50 AS Decimal(12, 2)), N'unpaid')
INSERT [dbo].[fines] ([id], [borrow_id], [fine_amount], [paid_status]) VALUES (2, 4, CAST(1.00 AS Decimal(12, 2)), N'paid')
INSERT [dbo].[fines] ([id], [borrow_id], [fine_amount], [paid_status]) VALUES (3, 1, CAST(26.00 AS Decimal(12, 2)), N'paid')
SET IDENTITY_INSERT [dbo].[fines] OFF
GO
SET IDENTITY_INSERT [dbo].[system_config] ON 

INSERT [dbo].[system_config] ([id], [config_key], [config_value], [description]) VALUES (1, N'overdue_fine_per_day', N'0.50', N'Fine amount per day for overdue books (in dollars)')
INSERT [dbo].[system_config] ([id], [config_key], [config_value], [description]) VALUES (2, N'default_borrow_duration_days', N'14', N'Default number of days a book can be borrowed')
INSERT [dbo].[system_config] ([id], [config_key], [config_value], [description]) VALUES (3, N'unit_price_per_book', N'10.00', N'Default unit price used for book replacement or reference')
SET IDENTITY_INSERT [dbo].[system_config] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [email], [password], [role], [status]) VALUES (1, N'Alice Admin', N'alice.admin@example.com', N'$2a$12$EAmCkK36IT/mArrL9Hzx9.NtZN01Vl6mk4Y8ze./38c5sJpJxsml.', N'admin', N'active')
INSERT [dbo].[users] ([id], [name], [email], [password], [role], [status]) VALUES (2, N'Thi No', N'No@example.com', N'$2a$12$NiCaQIyEtPDAU8HFHErZi.ACToXJGhRXu6vEvhtd.SkjAtPpKzYZa', N'user', N'active')
INSERT [dbo].[users] ([id], [name], [email], [password], [role], [status]) VALUES (3, N'Emma Reader', N'emma.user@example.com', N'$2a$12$0LwvgixAGiFiDgTG/cQ7luJ631ax5Cmk6041xS2aP.yP3wXxWd/eq', N'user', N'active')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__books__99F9D0A44B258628]    Script Date: 7/14/2025 16:02:53 ******/
ALTER TABLE [dbo].[books] ADD UNIQUE NONCLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__system_c__BDF6033D5E3F4322]    Script Date: 7/14/2025 16:02:53 ******/
ALTER TABLE [dbo].[system_config] ADD UNIQUE NONCLUSTERED 
(
	[config_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616454136C2B]    Script Date: 7/14/2025 16:02:53 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[book_requests] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ((1)) FOR [total_copies]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ((1)) FOR [available_copies]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[borrow_records] ADD  DEFAULT (NULL) FOR [return_date]
GO
ALTER TABLE [dbo].[borrow_records] ADD  DEFAULT ('borrowed') FOR [status]
GO
ALTER TABLE [dbo].[fines] ADD  DEFAULT ((0.00)) FOR [fine_amount]
GO
ALTER TABLE [dbo].[fines] ADD  DEFAULT ('unpaid') FOR [paid_status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[book_requests]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[book_requests]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[borrow_records]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[borrow_records]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fines]  WITH CHECK ADD FOREIGN KEY([borrow_id])
REFERENCES [dbo].[borrow_records] ([id])
ON DELETE CASCADE
GO
USE [master]
GO
